body {
    font-family: 'Roboto', sans-serif;
    background-color: #2F4F4F;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* INPUT BAR */

.text-center h1 {
    margin-top: 0.5em;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.text-center h2 {
    margin-top: 1em;
    font-size: 1.8em;
    margin-bottom: 0.6em;
}

#videoLinkInput {
    background-color: white; 
    color: black;
    border: none;
    border-radius: 1em;
    padding: 1em;
    font-size: 1em;
    width: 20em; 
    height: 3em;
    margin-bottom: 0.8em;
}

#findButton {
    background-color: #D9D9D9;
    color: black;
    font-size: 0.8em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

#findButton:hover {
    background-color: slategrey;
}

/* RESULTS */

.score-box {
    width: 12em; 
    height: 10em;
    background-color: #D9D9D9;
    color: #2F4F4F;
    padding: 2em;
    margin: 1em;
    margin-bottom: 3em;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score {
    color: black;
    margin-top: 1em;
    font-weight: lighter;
}

#result {
    width: 100%; 
    margin-bottom: 10em;
    max-height: calc(100vh - 150px);
    overflow-y: auto; 
}

#result:nth-last-child(-n+2) .score-box {
    margin-bottom: 4em;
}
